body {
    font-family: "Titillium Web", Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #646464;
    background-color: #fff;
}

.donation-banner-container button{
    box-sizing: border-box;
    background-color: rgb(247, 147, 26);
    height: 55px;
    text-align: center;
    color:white;
    font-weight: 600;
    border:none; /* to remove border of button*/
    width:100%;
    font-size: 16px;
}

.header-main-container{
    background-color: white;
}

/*based on head container padding head main container will adjust*/
.head-container{
    box-sizing: border-box;
    padding:15px 30px 15px 30px;
    display: flex; /*to make elements align in a line and stay centre*/
    justify-content: center;
    align-items: center;
    margin:0 auto;
    max-width: 1230px;
    
}


.logo img{
    width:132px;
    height:29px;
    vertical-align:middle;
    margin-right: auto;

}

.menu-bar{
    margin:0;
    margin-right: auto;
    margin-left:auto;
    font-size: 16px;
    
}
.menu-title{
    display: inline-block;
    padding-right: 18px;
    
}

.menu-title a{
    text-decoration: none;
    color:black;
    
}

.menu-title img, .lang img{
    position: relative;
    top: 50%;
    right:0;
    padding-left: 3px;;
    width: 10px;
    height: auto;
}

.menu-title img:hover{
    transform: rotate(360deg);
}

.lang-bar{
    margin: 0;
}
.lang-bar li{
    font-size: 16px;
    list-style: none;
    
    
}

.lang a{
    text-decoration: none;
    color:black;

}